{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $shellTypeChoices := list "zsh" "bash" -}}
{{- $shellType := promptChoiceOnce . "shellType" "What shell type does this machine use" $shellTypeChoices -}}

[data]
    email = {{ $email | quote }}
    shellType = {{ $shellType | quote }}

[edit]
    command = "code"
    args = ["--wait"]

[diff]
    exclude = ["scripts"]
