#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias grep='grep --color=auto'
PS1='[\u@\h \W]\$ '

# Tell shell where the ssh agent is
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"

# Set terminal
export TERMINAL=wezterm

# Password window fix
export GPG_TTY=$(tty)

# Source VPN functions
source ~/.config/pia-vpn/vpn-functions.sh
