{{- $sshKeys := rbwFields "SSH Key Locations" -}}
{{- $sshAgcoHosts := rbwFields "SSH Agco Hosts" -}}
{{- $sshAAU := rbw "9b0b93f3-5080-4d74-a542-b3a701733e6f" -}}

Host *
  AddKeysToAgent yes
  IdentitiesOnly yes

## SSH KEYS ###

Host github.com
  HostName github.com
  IdentityFile {{ $sshKeys.github.value }}

Host github-work
  HostName github.com
  IdentityFile {{ $sshKeys.agco.value }}

Host bitbucket.org
  IdentityFile {{ $sshKeys.agco.value }}

Host *-proxmox
  IdentityFile {{ $sshKeys.proxmox.value }}

Host agco-*
  IdentityFile {{ $sshKeys.agco.value }}
  ForwardAgent yes

Host aau-*
  IdentityFile {{ $sshKeys.aau.value }}

{{ if eq .chezmoi.hostname "sff" }}
## Local Hosts ##
{{ $sshLocalHosts := rbwFields "SSH Local Hosts" }}
Host nas
  User andreas
  HostName {{ $sshLocalHosts.nas.value }}
  Port {{ $sshLocalHosts.nas_port.value }}

Host wireguard-proxmox
  User {{ $sshLocalHosts.user2.value }}
  HostName {{ $sshLocalHosts.wireguard.value }}

Host jellyfin-proxmox
  User {{ $sshLocalHosts.user1.value }}
  HostName {{ $sshLocalHosts.jellyfin.value }}

Host docker-vm-proxmox
  User {{ $sshLocalHosts.user1.value }}
  HostName {{ $sshLocalHosts.docker_vm.value }}
  
Host web-server-local-proxmox
  User {{ $sshLocalHosts.user1.value }}
  HostName {{ $sshLocalHosts.web_server.value }}

Host pelican-panel-proxmox
  User {{ $sshLocalHosts.user2.value }}
  HostName {{ $sshLocalHosts.pelican_panel.value }}

Host pelican-node-proxmox
  User {{ $sshLocalHosts.user2.value }}
  HostName {{ $sshLocalHosts.pelican_node.value }}
{{ end }}

## AGCO Hosts ##

Host agco-cluster
  User {{ $sshAgcoHosts.user1.value }}
  HostName {{ $sshAgcoHosts.cluster.value }}
  Port {{ $sshAgcoHosts.cluster_port.value }}

Host agco-cluster-x11
  User {{ $sshAgcoHosts.user1.value }}
  HostName {{ $sshAgcoHosts.cluster.value }}
  Port {{ $sshAgcoHosts.cluster_port.value }}
  ForwardX11 yes
  ForwardX11Trusted yes
  Compression yes

Host agco-fqc2
  User {{ $sshAgcoHosts.user2.value }}
  HostName {{ $sshAgcoHosts.fqc2.value }}


## AAU HOSTS ##

Host aau-vpn
  HostName sshgw.aau.dk
  User {{ $sshAAU.data.username }}

Host aau-datastorage
  HostName 10.92.0.164
  User debian
  ProxyJump aau-vpn

Host aau-ailab
  HostName ailab-fe01.srv.aau.dk
  User {{ $sshAAU.data.username }}
  ProxyJump aau-vpn

{{ if eq .chezmoi.hostname "yoga" }}
{{ $sshLocalHosts := rbwFields "SSH Local Hosts" }}
## Alfredo HOSTS ##
Host opti
  User {{ $sshLocalHosts.user1.value }}
  HostName {{ $sshLocalHosts.opti.value }}
  IdentityFile {{ $sshKeys.opti.value }}
{{ end }}
